/*主体*/
.main{
	width: 100%;
	margin: 35px 0 35px;
}
form{
	width: 900px;
	height: 308px;
	padding: 20px 30px 30px;
	margin: 0 auto;
	background: #fff;
}
.pay-num{
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 18px;
}
.pay-num span{
	width: 19px;
	height: 19px;
	line-height: 19px;
	text-align: center;
	font-family: Arial;
	color: #fff;
	font-size: 14px;
	background: url("../images/pay/pay.png") no-repeat 0 -53px;
	display: inline-block;
	margin-right:10px; 
}
form ul{
	width: 882px;
	height:252px;
	padding-left:18px; 
	margin-top: 30px;
}
form ul li{
	color: #6c6c6c;
	line-height: 24px;
	margin-top: 14px;
	font-family: "宋体";
}
form ul li span{
	color: #ff643c;
	margin:0 10px 0; 
}
form ul li input{
	height: 14px;
	padding: 4px 0 4px 6px;
	border: 1px #c4c4c4 solid;
	color: #6c6c6c;
}
form ul li:first-child span{
	margin: 0;
	margin-right: 10px;
}
form ul li:first-child input{
	width: 211px;
}
form ul li:nth-child(3) input{
	width: 420px;
}
form ul li:nth-child(4) input{
	width:133px;
}
form ul li:nth-child(5) input{
	width:133px;
	margin-right: 10px;
}
form ul li:nth-child(6) input{
	width:223px;
	margin-left: 56px;
}
form ul li:last-child button{
	margin-left: 98px;
	background: #ff643c;
	color: #fff;
	text-align: center;
	border: none;
	height: 26px;
	width: 90px;
}
form select{
	width: 125px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #c4c4c4;
	margin-right: 10px;
	color: #6c6c6c;
	outline: none;
}
.list{
	margin:0 auto;
	width: 900px;
	padding: 20px 30px 30px;
	background: #fff;
	margin-top: 5px;
}
.pay-num a{
	margin-left: 700px;
	font-size: 14px;
	color: #6c6c6c;
	font-family: "宋体";
}
.title{
	height: 40px;
	background: #6c6c6c;
	margin-top: 16px;
	padding-left:30px;
	box-sizing: border-box;
}
.title li{
	float: left;
	color: #fff;
	font-family: "宋体";
	line-height: 40px;
}
.title li:first-child{
	width: 586px;
}
.title li:nth-child(2){
	width: 115px;
}
.title li:nth-child(3){
	width: 96px;
}
.title li:last-child(4){
	width: 103px;
}

.car-content{
	width: 900px;
	background-color: #fff;
	padding-top: 10px;
}
.car-list{
	border-bottom: 1px #e3e3e3 dotted;
	height: 109px;
	color: #6c6c6c;
}
.car-list li{
	float: left;
}
.goods{
	width: 608px;
	padding: 20px 0 20px 5px;
	height: 70px;
}
.goods a{
	display: inline-block;	
}
.pic{
	width: 68px;
	height: 68px;
	float: left;
	margin:0 15px 0;
	border: 1px solid #eee;
}
.pic img{
	width: 68px;
	height: 68px;
}
.word{
	width: 340px;
	float: left;
	color: #6c6c6c;
	line-height: 18px;
	font-family: "宋体";
} 
.pri{
	font-size: 14px;
	margin-top: 40px;
}
.num{
	height: 26px;
	margin-top: 37px;
	display: inline-block;
	width: 20px;
	margin-left: 90px;
}
.sumpri{
	width: 50px;
	height: 26px;
	margin: 40px 6px 0 50px;
	font-size: 14px;
	color: #ff643c;
}

.method{
	margin: 0 auto;
	width: 900px;
	background: #fff;
	margin-top: 5px;
	padding: 20px 30px;
	height: 626px;
}
.plat{
	width: 872px;
	height: 582px;
	margin-left: 28px;
}
.plat h2{
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 13px;
	float: left;
	width: 872px;
	margin-top: 20px;
}
.plat li{
	width: 163px;
	height: 40px;
	float: left;
	margin:0 42px 10px 0;
	cursor: pointer;
	position: relative;
}
.plat li i{
	display: inline-block;
	height: 14px;
	width:14px;
	margin:13px 5px 0 0;
	background: url("../images/pay/sel.png") no-repeat 0 0;
	color: #6c6c6c;
	float: left;
}
.plat li i.active{
	background: url("../images/pay/sel.png") no-repeat 0 -20px;
}
.plat li span{
	display: inline-block;
	height: 38px;
	width:138px;
	background:url("../images/pay/shopcar.png") no-repeat;
	border: 1px #c4c4c4 solid;
	float: left;
}
.plat li span.active{
	border: 1px solid #ff643c;
}
.plat li .s1{
	background-position: 0 0;
}
.plat li .s2{
	background-position: 0 -382px;
}
.plat li .s3{
	background-position: 0 -190px;
}
.plat li .s4{
	background-position: 0 -228px;
}
.plat li .s5{
	background-position: 0 -266px;
}
.plat li .s6{
	background-position: 0 -304px;
}
.plat li .s7{
	background-position: 0 -342px;
}
.plat li .s8{
	background-position: 0 -494px;
}
.plat li .s9{
	background-position:0 -532px;
}
.plat li .s10{
	background-position: 0 -570px;
}
.plat li .s11{
	background-position: 0 -608px;
}
.plat li .s12{
	background-position: 0 -646px;
}
.plat li .s13{
	background-position: 0 -684px;
}
.plat li .s14{
	background-position: 0 -722px;
}
.plat li .s15{
	background-position: 0 -760px;
}
.plat li .s16{
	background-position:0 -798px;
}
.plat li .s17{
	background-position: 0 -836px;
}
.plat li .s18{
	background-position:0 -874px;
}
.plat li .s19{
	background-position: 0 -912px;
}
.plat li .s20{
	background-position:0 -190px;
}
.plat li .s21{
	background-position:0 -190px;
}
.plat li .s22{
	background-position:0 -266px;
}
.plat li .s23{
	background-position: 0 -304px;
}
.plat li .s24{
	background-position: 0 -342px;
}
.plat em.active{
	width: 22px;
	height: 22px;
	position: absolute;
	bottom: 0;
	right: 4px;
	display: block;
	background: url("../images/pay/shopcar_ico.png") no-repeat 0 -132px;
}
.remark{
	margin: 0 auto;
	margin-top: 5px;
	background: #fff;
	width: 900px;
	height: 90px;
	padding: 20px 30px;
}
.remark p{
	color:#6c6c6c;
	font-family: "宋体";
	width: 500px;
	display:inline-block;
}
.remark input{
	width: 480px;
	height: 14px;
	padding: 4px 10px;
	margin-right: 30px;
}
.should{
	color:#6c6c6c;
	font-family: "宋体";
}
.should i{
	color: #ff643c;
	font-family: "微软雅黑";
	font-style: normal;
	font-size: 20px;
}
.should em{
	color: #ff643c;
	font-family:Arial;
	font-style: normal;
	font-size: 36px;
}
.remark button{
	width: 126px;
	height: 45px;
	color: #fff;
	font-size: 24px;
	text-align: center;
	margin-left: 22px;
	background: #ff643c;
	border: none;
	font-family: "微软雅黑";
	cursor: pointer;
}