<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="lib/bootstrap.css">
	<link rel="stylesheet" href="css/book.css">
	<script src="lib/angular.js"></script>	
</head>
<body ng-app="myapp">
	<div class="box" ng-controller="MyControl">
		<!-- 搜索 -->
		<div class="title">
			<!-- 搜索框 -->
			<form class="bs-example bs-example-form" role="form">
		        <div class="input-group">
		            <span class="input-group-addon">{{selec}}搜索</span>
		            <input type="text" class="form-control" placeholder="请输入{{selec}}" ng-model="inputVal">
		        </div>
		    </form>
		    <!-- 下拉菜单 -->
			<div class="dropdown">
			    <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">{{selec}}
			        <span class="caret"></span>
			    </button>
			    <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			        <option role="presentation" ng-click="selecFn($index)" ng-repeat="sel in arr">{{sel.value}}</option>
			    </div>
			</div>
		</div>

		<!-- 列表 -->
		<table class="table table-striped">
			<!-- 标题 -->
			<thead>
				<tr>
					<th>序号</th>
					<th ng-click="changeOrder('name')">书名</th>
					<th ng-click="changeOrder('author')">作者</th>
					<th ng-click="changeOrder('price')">价格</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<!-- 书目 -->
			<tbody>
				<tr ng-repeat="book in item | filter:typeFn(ty) | orderBy:order:positive">
					<td>{{$index+1}}</td>
					<td>{{book.name}}</td>
					<td>{{book.author}}</td>
					<td>{{book.price}}</td>
					<td><button type="button" class="btn btn-primary write" ng-click="reviseFn($index)">修改</button></td>
					<td><button type="button" class="btn btn-danger" ng-click="deleteFn($index)">删除</button></td>
				</tr>
			</tbody>
			<!-- 删除框 -->
			<div class="del alert alert-danger alert-dismissible fade in" ng-show="hideD" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<p>确定要删除吗？</p>
				<p>
					<button type="button" class="btn btn-danger" ng-click="sureD()">确定</button>
					<button type="button" class="btn btn-default" ng-click="cancleD()">取消</button>
				</p>
			</div>
			<!-- 修改框 -->
			<div class="revise alert alert-danger alert-dismissible fade in" role="alert" ng-show="hideR">
				<p>修改</p>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<div class="form-group has-feedback">
					<label class="control-label reviseInput" for="inputSuccess2">书名</label>
					<input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" value="{{reviseItem.name}}" ng-model="reviseItem.name">
					<label class="control-label reviseInput" for="inputSuccess2">作者</label>
					<input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" value="{{reviseItem.author}}" ng-model="reviseItem.author">
					<label class="control-label reviseInput" for="inputSuccess2">价格</label>
					<input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" value="{{reviseItem.price}}" ng-model="reviseItem.price">
				</div>
				<div class="revise-btn">
					<button type="button" class="btn btn-danger" ng-click="sureR(reviseItem)">确定</button>
					<button type="button" class="btn btn-default" ng-click="cancleR()">取消</button>
				</div>	
			</div>	
		</table>

		<!-- 新增 -->
		<form class="addBox form-inline">
			<!-- 新增信息输入框 -->
			<div class="form-group">
				<input type="text" class="form-control" placeholder="书名" ng-model="add.name">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="作者" ng-model="add.author">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="价格" ng-model="add.price">
			</div>
			<!-- 新增按钮 -->
			<button type="submit" class="btn btn-default" ng-click="addFn()">新增</button>
				<!-- 错误提示框 -->
				<div class="add alert alert-danger alert-dismissible fade in" ng-show="hideA" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<p>输入不符合要求</p>
				<button type="button" class="add-btn btn btn-danger" ng-click="sureA()">确定</button>
			</div>
		</form>

	</div>

	<script>
		var app = angular.module('myapp',[]);
		// 配置服务
		app.config(['$provide',function($provide){

		}])
		app.factory('httpService',['$http',function($http){
			return $http.get('data/books.json')
		}])
		app.controller('MyControl',['$scope','httpService',function($scope,httpService){
			httpService.then(function(data){
				$scope.result = data.data;
				for(i in $scope.result){
					$scope.item.push($scope.result[i]);
				}
			})
			$scope.selec = "书名";
			$scope.index = 0;
			$scope.item = [
				// {id:0, name:'ggg', author:'zzz', price:'39'},
				// {id:1, name:'aaa', author:'fff', price:'88'},
				// {id:2, name:'zzz', author:'qqq', price:'20'}
			]
			$scope.arr = [
				{"value":"书名","type":"name"},
				{"value":"作者","type":"author"},
				{"value":"价格","type":"price"}
			]
			// 搜索输入选择
			$scope.ty = "name";
			$scope.typeFn = function(ty){
				var obj = {};
				obj[ty] = this.inputVal;
				return obj;
			}
			$scope.selecFn = function(index){
				$scope.selec = $scope.arr[index].value;
				$scope.ty = $scope.arr[index].type;
			};

			// 排序
			$scope.chan = false;
			$scope.order = "id";
			$scope.positive = false;
			$scope.changeOrder = function(num){
				this.chan = !this.chan;
				this.order = num;
				this.positive = !this.positive;
			}

			// 删除
			$scope.hideD = false;
			$scope.deleteFn = function(index){
				$scope.hideD = true;
				$scope.sureD = function(){
					$('tbody tr')[index].remove();
					$scope.hideD = false;
				}
				$scope.cancleD = function(index){
					$scope.hideD = false;
				}
			}
			
			//修改
			$scope.hideR = false;
			$scope.reviseFn = function(index){
				$scope.hideR = true;
				$scope.reviseItem = $scope.item[index];
				$scope.master = {};
				$scope.sureR = function(){
					$scope.hideR = false;
					$scope.master = angular.copy($scope.reviseItem);
				}
				$scope.cancleR = function(){
					$scope.hideR = false;
				}
			}

			//新增
			$scope.hideA = false;
			$scope.addFn = function(){
				if($scope.add==null||angular.equals({}, $scope.add)) {  
				   //内容为空不做任何操作
				}else{
					$scope.inpVal = $scope.add.price;
					if($scope.add.name!=null && !isNaN($scope.inpVal)&&$scope.inpVal>0){
						$scope.item.push($scope.add);
						$scope.add = {};
					}else{
						$scope.hideA = true;
						$scope.sureA = function(){
							$scope.hideA = false;
						}
					}	
				}
			}
		}])
	</script>
	<script src="lib/jquery-1.12.3.js"></script>
	<script src="lib/bootstrap.js"></script>
</body>
</html>